extends: default.liquid

title: Me
route: about
path: about/
---

<img class="me-image" src="/img/me.png" />

<h1>HAI!</h1>

<p>
My name is booyaa (aka Mark Sta Ana if you want to get legal).<br />
According to Skade, I might also be known as "Connaisseur des rabbit holes".
</p>

<p class="clearfix">
<img class="about-icon" src="/img/rust.svg" />
I'm a member of the Rust Community Team.<br />
I am the organiser of the London Rust Meetup Group.<br />
I'm currently hacking on intecture's Rust code with my mate Pete.<br />
I am the author of the imfamous [cake](https://crates.io/crates/cargo-cake) cargo subcommand.
</p>