---
permalink: /about/
title: Me
layout: default.liquid
data:
  route: about
---
<img class="me-image corner" src="/img/me.png" />

<h1>HAI!</h1>

<p>
My name is booyaa (aka Mark Sta Ana).<br />
According to @skade, I might also be known as "Connaisseur des rabbit holes".
</p>

<p class="clearfix">
<img class="about-icon" src="/img/rust.svg" />
I am the author of the infamous <a href="https://crates.io/crates/cargo-cake">cake</a> cargo subcommand.<br/>
I used to be the organiser of the London Rust Meetup Group and a member of the Rust Community Team.</p>

<p class="clearfix">
<img class="about-icon" src="/img/cobalt.svg" />
This blog is powered by Cobalt. I've also written a few articles about extending 
it beyond the basic functionality. Which you can you see <a href="/tags/cobalt">here</a>.
</p>