extends: default.liquid

title: Me
route: about
path: about/
---

<img class="me-image" src="/img/me.png" />

<h1>HAI!</h1>

<p>
My name is booyaa (aka Mark Sta Ana).<br />
According to @skade, I might also be known as "Connaisseur des rabbit holes".
</p>

<p class="clearfix">
<img class="about-icon" src="/img/rust.svg" />
I am the author of the imfamous <a href="https://crates.io/crates/cargo-cake">cake</a> cargo subcommand.<br/>
I am the organiser of the London Rust Meetup Group.<br />
I'm currently hacking on <a href="https://intecture.io/">Intecture's</a> code with my mate Pete.<br />
I'm a member of the Rust Community Team.</p>