extends: default.liquid

title: archive
path: /archive
route: archive
---
This is a quick work around until I've had a good thing about a way to organise 
the archive.

<h2>2017</h2>

<ul>
{% for post in posts %}
{% assign year = post.path | truncate: 4, "" %}
{% if year == "2017" %}
  <li><a href="{{ post.path }}">{{ post.title }}</a> - {{ post.content | strip_html | truncatewords: 25, '...' }}</li>
{% endif %}
{% endfor %}
</ul>
