---
permalink: /talks/
title: Talks
layout: default.liquid
data:
  route: talks
---
Here's the talks I've performed:

<ul class="blog-list">
  <li>
    <a href="https://skillsmatter.com/skillscasts/10664-rust-language-server-and-you">2017 - August - Rust Language Server And You! - London Rust Meetup No 15</a>
  </li>
  <li>
    <a href="https://skillsmatter.com/skillscasts/10589-london-rust-meetup-14">2017 - July - Generator X: The State of Rust Static Site Generators - London Rust Meetup No 14</a>
  </li>
  <li>
    <a href="https://skillsmatter.com/skillscasts/8313-baby-s-first-steps">2016 - October - Baby's First Steps - London Rust Meetup No 9</a>
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=vBEh3MTtjKs">2016 - February - Good Migrations - Moving a WordPress Site to Docker</a>
  </li>
  <!-- fixing travis -->
</ul>